
<% @user.items.each do |item| %>
  <p>
    <strong>ItemId:</strong>
    <%= item.itemid %>
  </p>

  <p>
    <strong>Alternativa:</strong>
    <%= item.alt %>
  </p>

  <p>
    <strong>Tiempo respuesta:</strong>
    <%= item.tiempo %>
  </p>

  <p>
    <strong>Secuencuecia respuesta:</strong>
    <%= item.secuencia %>
  </p>
<% end %>
